<!doctype html>
<html lang="en">
  <head>

    <!-- Webpage Title -->
    <title>Hello, world!</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
		<!-- JS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>


    <script>
      // 로그아웃은 내가 가지고 있는 토큰만 쿠키에서 없애면 됩니다.
      function logout(){
        $.removeCookie('mytoken');
        alert('로그아웃!')
        window.location.href='/login'
      }

      function add(){
        window.location.href='/add'
      }

      function withdraw(){
        window.location.href='/withdraw'
      }

      function user_sell(){
        window.location.href='/usersell'
      }

      function user_posts(user_id){
        window.location.href='/user/' + user_id + '/posts'
      }

      function all_post(){
        window.location.href='/posts'
      }

      function market(){
        window.location.href='/market'
      }

    </script>

  </head>
  <body>
        <h5 class="subtitle">나의 닉네임은: {{nickname}}</h5>
        <h5 class="subtitle">나의 잔액은: {{money}} 원</h5>
        <h5 class="subtitle">나의 코인 개수는: {{coinNum}} 개</h5>
        <button class="button is-danger" onclick="add()">입금하기</button>
        <button class="button is-danger" onclick="withdraw()">출금하기</button>
        <button class="button is-danger" onclick="market()">마켓에서 코인 사기</button>
        <button class="button is-danger" onclick="user_sell()">내 코인 판매하기</button>
        <button class="button is-danger" onclick="user_posts('{{ user_id }}')">내 글 조회하기</button>
        <button class="button is-danger" onclick="all_post()">코인 판매 글 조회하기</button>
        <button class="button is-danger" onclick="logout()">로그아웃하기</button>

        <h1>내가 작성한 글 목록</h1>
          <table border="1">
              <tr>
                  <th>판매하는 코인 개수</th>
                  <th>판매하는 코인 개수</th>
                  <th>작성자</th>
              </tr>
              {% for post in posts %}
              <tr>
                  <td>{{ post.sellCoin }}</td>
                  <td>{{ post.price }}</td>
                  <td>{{ post.id }}</td>
              </tr>
              {% endfor %}
          </table>
  </body>
</html>